@{
    ViewBag.Title = "Home Page";
}
@{
    var Ten_DangNhap = (DemoWeb.Models.tbl_TaiKhoan)Session["UserLogin"];
}
<div class="jumbotron">

    <h2>Xin chào: @Ten_DangNhap.TEN_DANGNHAP</h2>
    <a href="@Url.Action("Logout","Login")" class="btn btn-success">Đăng xuất</a>
</div>

